<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>infinitive</key>
		<string>be</string>
		<key>pastSimple</key>
		<string>was/were</string>
		<key>pastParticiple</key>
		<string>been</string>
		<key>infinitiveTranscription</key>
		<string>[bi:]</string>
		<key>pastSimpleTranscription</key>
		<string>[wɒz]/[wɜ:]</string>
		<key>pastParticipleTranscription</key>
		<string>[bi:n]</string>
		<key>translation</key>
		<string>быть, находиться</string>
		<key>variants</key>
		<array>
			<string>was/were</string>
			<string>be</string>
			<string>buen</string>
			<string>wos/wero</string>
			<string>been</string>
			<string>ba</string>
		</array>
		<key>section</key>
		<string>Top 50</string>
	</dict>
	<dict>
		<key>infinitive</key>
		<string>become</string>
		<key>pastSimple</key>
		<string>became</string>
		<key>pastParticiple</key>
		<string>become</string>
		<key>infinitiveTranscription</key>
		<string>[bɪˈkʌm]</string>
		<key>pastSimpleTranscription</key>
		<string>[bɪˈkeɪm]</string>
		<key>pastParticipleTranscription</key>
		<string>[bɪˈkʌm]</string>
		<key>translation</key>
		<string>становиться</string>
		<key>variants</key>
		<array>
			<string>bucame</string>
			<string>became</string>
			<string>become</string>
			<string>become</string>
			<string>bucumi</string>
			<string>bocamu</string>
		</array>
		<key>section</key>
		<string>Top 50</string>
	</dict>
	<dict>
		<key>infinitive</key>
		<string>begin</string>
		<key>pastSimple</key>
		<string>began</string>
		<key>pastParticiple</key>
		<string>begun</string>
		<key>infinitiveTranscription</key>
		<string>[bɪˈgɪn]</string>
		<key>pastSimpleTranscription</key>
		<string>[bɪˈgæn]</string>
		<key>pastParticipleTranscription</key>
		<string>[bɪˈgʌn]</string>
		<key>translation</key>
		<string>начинать</string>
		<key>variants</key>
		<array>
			<string>bogin</string>
			<string>began</string>
			<string>begon</string>
			<string>begun</string>
			<string>bogan</string>
			<string>begin</string>
		</array>
		<key>section</key>
		<string>Top 50</string>
	</dict>
	<dict>
		<key>infinitive</key>
		<string>break</string>
		<key>pastSimple</key>
		<string>broke</string>
		<key>pastParticiple</key>
		<string>broken</string>
		<key>infinitiveTranscription</key>
		<string>[breɪk]</string>
		<key>pastSimpleTranscription</key>
		<string>[broʊk]</string>
		<key>pastParticipleTranscription</key>
		<string>[broʊkən]</string>
		<key>translation</key>
		<string>ломать(ся)</string>
		<key>variants</key>
		<array>
			<string>breken</string>
			<string>brike</string>
			<string>break</string>
			<string>broken</string>
			<string>broke</string>
			<string>braok</string>
		</array>
		<key>section</key>
		<string>Top 50</string>
	</dict>
	<dict>
		<key>infinitive</key>
		<string>bring</string>
		<key>pastSimple</key>
		<string>brought</string>
		<key>pastParticiple</key>
		<string>brought</string>
		<key>infinitiveTranscription</key>
		<string>[brɪŋ]</string>
		<key>pastSimpleTranscription</key>
		<string>[brɔ:t]</string>
		<key>pastParticipleTranscription</key>
		<string>[brɔ:t]</string>
		<key>translation</key>
		<string>приносить</string>
		<key>variants</key>
		<array>
			<string>brought</string>
			<string>breoght</string>
			<string>brooght</string>
			<string>brung</string>
			<string>bring</string>
			<string>brought</string>
		</array>
		<key>section</key>
		<string>Top 50</string>
	</dict>
	<dict>
		<key>infinitive</key>
		<string>build</string>
		<key>pastSimple</key>
		<string>built</string>
		<key>pastParticiple</key>
		<string>built</string>
		<key>infinitiveTranscription</key>
		<string>[bɪld]</string>
		<key>pastSimpleTranscription</key>
		<string>[bɪlt]</string>
		<key>pastParticipleTranscription</key>
		<string>[bɪlt]</string>
		<key>translation</key>
		<string>строить</string>
		<key>variants</key>
		<array>
			<string>built</string>
			<string>beelt</string>
			<string>biolt</string>
			<string>build</string>
			<string>built</string>
			<string>buald</string>
		</array>
		<key>section</key>
		<string>Top 50</string>
	</dict>
	<dict>
		<key>infinitive</key>
		<string>buy</string>
		<key>pastSimple</key>
		<string>bought</string>
		<key>pastParticiple</key>
		<string>bought</string>
		<key>infinitiveTranscription</key>
		<string>[baɪ]</string>
		<key>pastSimpleTranscription</key>
		<string>[bɔ:t]</string>
		<key>pastParticipleTranscription</key>
		<string>[bɔ:t]</string>
		<key>translation</key>
		<string>покупать</string>
		<key>variants</key>
		<array>
			<string>bought</string>
			<string>buy</string>
			<string>buy</string>
			<string>bought</string>
			<string>biught</string>
			<string>boeght</string>
		</array>
		<key>section</key>
		<string>Top 50</string>
	</dict>
	<dict>
		<key>infinitive</key>
		<string>choose</string>
		<key>pastSimple</key>
		<string>chose</string>
		<key>pastParticiple</key>
		<string>chosen</string>
		<key>infinitiveTranscription</key>
		<string>[tʃu:z]</string>
		<key>pastSimpleTranscription</key>
		<string>[tʃoʊz]</string>
		<key>pastParticipleTranscription</key>
		<string>[tʃoʊzn]</string>
		<key>translation</key>
		<string>выбирать</string>
		<key>variants</key>
		<array>
			<string>chosen</string>
			<string>chosan</string>
			<string>cheise</string>
			<string>choose</string>
			<string>choso</string>
			<string>chose</string>
		</array>
		<key>section</key>
		<string>Top 50</string>
	</dict>
	<dict>
		<key>infinitive</key>
		<string>come</string>
		<key>pastSimple</key>
		<string>came</string>
		<key>pastParticiple</key>
		<string>come</string>
		<key>infinitiveTranscription</key>
		<string>[kʌm]</string>
		<key>pastSimpleTranscription</key>
		<string>[keɪm]</string>
		<key>pastParticipleTranscription</key>
		<string>[kʌm]</string>
		<key>translation</key>
		<string>приходить</string>
		<key>variants</key>
		<array>
			<string>came</string>
			<string>come</string>
			<string>cimi</string>
			<string>cemo</string>
			<string>cemi</string>
			<string>come</string>
		</array>
		<key>section</key>
		<string>Top 50</string>
	</dict>
	<dict>
		<key>infinitive</key>
		<string>cut</string>
		<key>pastSimple</key>
		<string>cut</string>
		<key>pastParticiple</key>
		<string>cut</string>
		<key>infinitiveTranscription</key>
		<string>[kʌt]</string>
		<key>pastSimpleTranscription</key>
		<string>[kʌt]</string>
		<key>pastParticipleTranscription</key>
		<string>[kʌt]</string>
		<key>translation</key>
		<string>резать</string>
		<key>variants</key>
		<array>
			<string>cut</string>
			<string>cut</string>
			<string>cut</string>
			<string>cut</string>
			<string>cet</string>
			<string>cet</string>
		</array>
		<key>section</key>
		<string>Top 50</string>
	</dict>
	<dict>
		<key>infinitive</key>
		<string>do</string>
		<key>pastSimple</key>
		<string>did</string>
		<key>pastParticiple</key>
		<string>done</string>
		<key>infinitiveTranscription</key>
		<string>[du:]</string>
		<key>pastSimpleTranscription</key>
		<string>[dɪd]</string>
		<key>pastParticipleTranscription</key>
		<string>[dʌn]</string>
		<key>translation</key>
		<string>делать</string>
		<key>variants</key>
		<array>
			<string>du</string>
			<string>did</string>
			<string>do</string>
			<string>dud</string>
			<string>done</string>
			<string>deno</string>
		</array>
		<key>section</key>
		<string>Top 50</string>
	</dict>
	<dict>
		<key>infinitive</key>
		<string>draw</string>
		<key>pastSimple</key>
		<string>drew</string>
		<key>pastParticiple</key>
		<string>drawn</string>
		<key>infinitiveTranscription</key>
		<string>[drɔ:]</string>
		<key>pastSimpleTranscription</key>
		<string>[dru:]</string>
		<key>pastParticipleTranscription</key>
		<string>[drɔ:n]</string>
		<key>translation</key>
		<string>рисовать</string>
		<key>variants</key>
		<array>
			<string>drow</string>
			<string>draw</string>
			<string>drew</string>
			<string>drawn</string>
			<string>driw</string>
			<string>driwn</string>
		</array>
		<key>section</key>
		<string>Top 50</string>
	</dict>
	<dict>
		<key>infinitive</key>
		<string>drive</string>
		<key>pastSimple</key>
		<string>drove</string>
		<key>pastParticiple</key>
		<string>driven</string>
		<key>infinitiveTranscription</key>
		<string>[draɪv]</string>
		<key>pastSimpleTranscription</key>
		<string>[droʊv]</string>
		<key>pastParticipleTranscription</key>
		<string>[drɪvn]</string>
		<key>translation</key>
		<string>вести машину</string>
		<key>variants</key>
		<array>
			<string>drove</string>
			<string>drivin</string>
			<string>drivu</string>
			<string>driven</string>
			<string>drive</string>
			<string>drevu</string>
		</array>
		<key>section</key>
		<string>Top 50</string>
	</dict>
	<dict>
		<key>infinitive</key>
		<string>fall</string>
		<key>pastSimple</key>
		<string>fell</string>
		<key>pastParticiple</key>
		<string>fallen</string>
		<key>infinitiveTranscription</key>
		<string>[fɔ:l]</string>
		<key>pastSimpleTranscription</key>
		<string>[fɛl]</string>
		<key>pastParticipleTranscription</key>
		<string>[fɔ:lən]</string>
		<key>translation</key>
		<string>падать</string>
		<key>variants</key>
		<array>
			<string>fallen</string>
			<string>fallin</string>
			<string>foll</string>
			<string>fill</string>
			<string>fell</string>
			<string>fall</string>
		</array>
		<key>section</key>
		<string>Top 50</string>
	</dict>
	<dict>
		<key>infinitive</key>
		<string>feel</string>
		<key>pastSimple</key>
		<string>felt</string>
		<key>pastParticiple</key>
		<string>felt</string>
		<key>infinitiveTranscription</key>
		<string>[fi:l]</string>
		<key>pastSimpleTranscription</key>
		<string>[fɛlt]</string>
		<key>pastParticipleTranscription</key>
		<string>[fɛlt]</string>
		<key>translation</key>
		<string>чувствовать</string>
		<key>variants</key>
		<array>
			<string>filt</string>
			<string>felt</string>
			<string>feel</string>
			<string>fult</string>
			<string>feul</string>
			<string>felt</string>
		</array>
		<key>section</key>
		<string>Top 50</string>
	</dict>
	<dict>
		<key>infinitive</key>
		<string>find</string>
		<key>pastSimple</key>
		<string>found</string>
		<key>pastParticiple</key>
		<string>found</string>
		<key>infinitiveTranscription</key>
		<string>[faɪnd]</string>
		<key>pastSimpleTranscription</key>
		<string>[faʊnd]</string>
		<key>pastParticipleTranscription</key>
		<string>[faʊnd]</string>
		<key>translation</key>
		<string>находить</string>
		<key>variants</key>
		<array>
			<string>found</string>
			<string>feand</string>
			<string>foind</string>
			<string>fand</string>
			<string>found</string>
			<string>find</string>
		</array>
		<key>section</key>
		<string>Top 50</string>
	</dict>
	<dict>
		<key>infinitive</key>
		<string>get</string>
		<key>pastSimple</key>
		<string>got</string>
		<key>pastParticiple</key>
		<string>gotten/got</string>
		<key>infinitiveTranscription</key>
		<string>[get]</string>
		<key>pastSimpleTranscription</key>
		<string>[gɒt]</string>
		<key>pastParticipleTranscription</key>
		<string>[gɒtn/gɒt]</string>
		<key>translation</key>
		<string>получать</string>
		<key>variants</key>
		<array>
			<string>got</string>
			<string>got</string>
			<string>get</string>
			<string>gotten/gut</string>
			<string>gotten/got</string>
			<string>get</string>
		</array>
		<key>section</key>
		<string>Top 50</string>
	</dict>
	<dict>
		<key>infinitive</key>
		<string>give</string>
		<key>pastSimple</key>
		<string>gave</string>
		<key>pastParticiple</key>
		<string>given</string>
		<key>infinitiveTranscription</key>
		<string>[gɪv]</string>
		<key>pastSimpleTranscription</key>
		<string>[geɪv]</string>
		<key>pastParticipleTranscription</key>
		<string>[gɪvn]</string>
		<key>translation</key>
		<string>давать</string>
		<key>variants</key>
		<array>
			<string>given</string>
			<string>gova</string>
			<string>govan</string>
			<string>give</string>
			<string>gave</string>
			<string>gova</string>
		</array>
		<key>section</key>
		<string>Top 50</string>
	</dict>
	<dict>
		<key>infinitive</key>
		<string>go</string>
		<key>pastSimple</key>
		<string>went</string>
		<key>pastParticiple</key>
		<string>gone</string>
		<key>infinitiveTranscription</key>
		<string>[goʊ]</string>
		<key>pastSimpleTranscription</key>
		<string>[wɛnt]</string>
		<key>pastParticipleTranscription</key>
		<string>[ɡɒn]</string>
		<key>translation</key>
		<string>идти</string>
		<key>variants</key>
		<array>
			<string>went</string>
			<string>gano</string>
			<string>go</string>
			<string>want</string>
			<string>ge</string>
			<string>gone</string>
		</array>
		<key>section</key>
		<string>Top 50</string>
	</dict>
	<dict>
		<key>infinitive</key>
		<string>grow</string>
		<key>pastSimple</key>
		<string>grew</string>
		<key>pastParticiple</key>
		<string>grown</string>
		<key>infinitiveTranscription</key>
		<string>[groʊ]</string>
		<key>pastSimpleTranscription</key>
		<string>[gru:]</string>
		<key>pastParticipleTranscription</key>
		<string>[groʊn]</string>
		<key>translation</key>
		<string>расти</string>
		<key>variants</key>
		<array>
			<string>grown</string>
			<string>griw</string>
			<string>grew</string>
			<string>grow</string>
			<string>griwn</string>
			<string>gruw</string>
		</array>
		<key>section</key>
		<string>Top 50</string>
	</dict>
	<dict>
		<key>infinitive</key>
		<string>have</string>
		<key>pastSimple</key>
		<string>had</string>
		<key>pastParticiple</key>
		<string>had</string>
		<key>infinitiveTranscription</key>
		<string>[hæv]</string>
		<key>pastSimpleTranscription</key>
		<string>[hæd]</string>
		<key>pastParticipleTranscription</key>
		<string>[hæd]</string>
		<key>translation</key>
		<string>иметь</string>
		<key>variants</key>
		<array>
			<string>hed</string>
			<string>hud</string>
			<string>had</string>
			<string>hova</string>
			<string>have</string>
			<string>had</string>
		</array>
		<key>section</key>
		<string>Top 50</string>
	</dict>
	<dict>
		<key>infinitive</key>
		<string>hear</string>
		<key>pastSimple</key>
		<string>heard</string>
		<key>pastParticiple</key>
		<string>heard</string>
		<key>infinitiveTranscription</key>
		<string>[hɪə]</string>
		<key>pastSimpleTranscription</key>
		<string>[hɜ:d]</string>
		<key>pastParticipleTranscription</key>
		<string>[hɜ:d]</string>
		<key>translation</key>
		<string>слышать</string>
		<key>variants</key>
		<array>
			<string>heard</string>
			<string>heard</string>
			<string>heor</string>
			<string>hierd</string>
			<string>hoerd</string>
			<string>hear</string>
		</array>
		<key>section</key>
		<string>Top 50</string>
	</dict>
	<dict>
		<key>infinitive</key>
		<string>hold</string>
		<key>pastSimple</key>
		<string>held</string>
		<key>pastParticiple</key>
		<string>held</string>
		<key>infinitiveTranscription</key>
		<string>[hoʊld]</string>
		<key>pastSimpleTranscription</key>
		<string>[hɛld]</string>
		<key>pastParticipleTranscription</key>
		<string>[hɛld]</string>
		<key>translation</key>
		<string>держать</string>
		<key>variants</key>
		<array>
			<string>held</string>
			<string>hild</string>
			<string>held</string>
			<string>hold</string>
			<string>hild</string>
			<string>hild</string>
		</array>
		<key>section</key>
		<string>Top 50</string>
	</dict>
	<dict>
		<key>infinitive</key>
		<string>keep</string>
		<key>pastSimple</key>
		<string>kept</string>
		<key>pastParticiple</key>
		<string>kept</string>
		<key>infinitiveTranscription</key>
		<string>[ki:p]</string>
		<key>pastSimpleTranscription</key>
		<string>[kɛpt]</string>
		<key>pastParticipleTranscription</key>
		<string>[kɛpt]</string>
		<key>translation</key>
		<string>хранить</string>
		<key>variants</key>
		<array>
			<string>kuip</string>
			<string>keep</string>
			<string>kept</string>
			<string>kept</string>
			<string>kopt</string>
			<string>kipt</string>
		</array>
		<key>section</key>
		<string>Top 50</string>
	</dict>
	<dict>
		<key>infinitive</key>
		<string>know</string>
		<key>pastSimple</key>
		<string>knew</string>
		<key>pastParticiple</key>
		<string>known</string>
		<key>infinitiveTranscription</key>
		<string>[noʊ]</string>
		<key>pastSimpleTranscription</key>
		<string>[nju:]</string>
		<key>pastParticipleTranscription</key>
		<string>[noʊn]</string>
		<key>translation</key>
		<string>знать</string>
		<key>variants</key>
		<array>
			<string>know</string>
			<string>knuw</string>
			<string>knewn</string>
			<string>knuw</string>
			<string>knew</string>
			<string>known</string>
		</array>
		<key>section</key>
		<string>Top 50</string>
	</dict>
	<dict>
		<key>infinitive</key>
		<string>leave</string>
		<key>pastSimple</key>
		<string>left</string>
		<key>pastParticiple</key>
		<string>left</string>
		<key>infinitiveTranscription</key>
		<string>[li:v]</string>
		<key>pastSimpleTranscription</key>
		<string>[lɛft]</string>
		<key>pastParticipleTranscription</key>
		<string>[lɛft]</string>
		<key>translation</key>
		<string>оставлять</string>
		<key>variants</key>
		<array>
			<string>loeve</string>
			<string>laft</string>
			<string>left</string>
			<string>leave</string>
			<string>left</string>
			<string>laft</string>
		</array>
		<key>section</key>
		<string>Top 50</string>
	</dict>
	<dict>
		<key>infinitive</key>
		<string>let</string>
		<key>pastSimple</key>
		<string>let</string>
		<key>pastParticiple</key>
		<string>let</string>
		<key>infinitiveTranscription</key>
		<string>[lɛt]</string>
		<key>pastSimpleTranscription</key>
		<string>[lɛt]</string>
		<key>pastParticipleTranscription</key>
		<string>[lɛt]</string>
		<key>translation</key>
		<string>позволять</string>
		<key>variants</key>
		<array>
			<string>let</string>
			<string>lot</string>
			<string>let</string>
			<string>lit</string>
			<string>let</string>
			<string>lot</string>
		</array>
		<key>section</key>
		<string>Top 50</string>
	</dict>
	<dict>
		<key>infinitive</key>
		<string>lie</string>
		<key>pastSimple</key>
		<string>lay</string>
		<key>pastParticiple</key>
		<string>lain</string>
		<key>infinitiveTranscription</key>
		<string>[laɪ]</string>
		<key>pastSimpleTranscription</key>
		<string>[leɪ]</string>
		<key>pastParticipleTranscription</key>
		<string>[leɪn]</string>
		<key>translation</key>
		<string>лежать</string>
		<key>variants</key>
		<array>
			<string>liy</string>
			<string>loin</string>
			<string>lay</string>
			<string>lua</string>
			<string>lie</string>
			<string>lain</string>
		</array>
		<key>section</key>
		<string>Top 50</string>
	</dict>
	<dict>
		<key>infinitive</key>
		<string>lose</string>
		<key>pastSimple</key>
		<string>lost</string>
		<key>pastParticiple</key>
		<string>lost</string>
		<key>infinitiveTranscription</key>
		<string>[lu:z]</string>
		<key>pastSimpleTranscription</key>
		<string>[lɒst]</string>
		<key>pastParticipleTranscription</key>
		<string>[lɒst]</string>
		<key>translation</key>
		<string>терять</string>
		<key>variants</key>
		<array>
			<string>lost</string>
			<string>lost</string>
			<string>lost</string>
			<string>lest</string>
			<string>lose</string>
			<string>lisa</string>
		</array>
		<key>section</key>
		<string>Top 50</string>
	</dict>
	<dict>
		<key>infinitive</key>
		<string>make</string>
		<key>pastSimple</key>
		<string>made</string>
		<key>pastParticiple</key>
		<string>made</string>
		<key>infinitiveTranscription</key>
		<string>[meɪk]</string>
		<key>pastSimpleTranscription</key>
		<string>[meɪd]</string>
		<key>pastParticipleTranscription</key>
		<string>[meɪd]</string>
		<key>translation</key>
		<string>делать (изготавливать)</string>
		<key>variants</key>
		<array>
			<string>modi</string>
			<string>made</string>
			<string>make</string>
			<string>made</string>
			<string>muda</string>
			<string>moki</string>
		</array>
		<key>section</key>
		<string>Top 50</string>
	</dict>
	<dict>
		<key>infinitive</key>
		<string>mean</string>
		<key>pastSimple</key>
		<string>meant</string>
		<key>pastParticiple</key>
		<string>meant</string>
		<key>infinitiveTranscription</key>
		<string>[mi:n]</string>
		<key>pastSimpleTranscription</key>
		<string>[mɛnt]</string>
		<key>pastParticipleTranscription</key>
		<string>[mɛnt]</string>
		<key>translation</key>
		<string>означать</string>
		<key>variants</key>
		<array>
			<string>meant</string>
			<string>miant</string>
			<string>meant</string>
			<string>mean</string>
			<string>muin</string>
			<string>meant</string>
		</array>
		<key>section</key>
		<string>Top 50</string>
	</dict>
	<dict>
		<key>infinitive</key>
		<string>meet</string>
		<key>pastSimple</key>
		<string>met</string>
		<key>pastParticiple</key>
		<string>met</string>
		<key>infinitiveTranscription</key>
		<string>[mi:t]</string>
		<key>pastSimpleTranscription</key>
		<string>[mɛt]</string>
		<key>pastParticipleTranscription</key>
		<string>[mɛt]</string>
		<key>translation</key>
		<string>встречать</string>
		<key>variants</key>
		<array>
			<string>moit</string>
			<string>met</string>
			<string>mut</string>
			<string>met</string>
			<string>mit</string>
			<string>meet</string>
		</array>
		<key>section</key>
		<string>Top 50</string>
	</dict>
	<dict>
		<key>infinitive</key>
		<string>pay</string>
		<key>pastSimple</key>
		<string>paid</string>
		<key>pastParticiple</key>
		<string>paid</string>
		<key>infinitiveTranscription</key>
		<string>[peɪ]</string>
		<key>pastSimpleTranscription</key>
		<string>[peɪd]</string>
		<key>pastParticipleTranscription</key>
		<string>[peɪd]</string>
		<key>translation</key>
		<string>платить</string>
		<key>variants</key>
		<array>
			<string>pay</string>
			<string>paud</string>
			<string>puy</string>
			<string>pied</string>
			<string>paid</string>
			<string>paid</string>
		</array>
		<key>section</key>
		<string>Top 50</string>
	</dict>
	<dict>
		<key>infinitive</key>
		<string>put</string>
		<key>pastSimple</key>
		<string>put</string>
		<key>pastParticiple</key>
		<string>put</string>
		<key>infinitiveTranscription</key>
		<string>[pʊt]</string>
		<key>pastSimpleTranscription</key>
		<string>[pʊt]</string>
		<key>pastParticipleTranscription</key>
		<string>[pʊt]</string>
		<key>translation</key>
		<string>класть</string>
		<key>variants</key>
		<array>
			<string>put</string>
			<string>pat</string>
			<string>put</string>
			<string>pot</string>
			<string>put</string>
			<string>pat</string>
		</array>
		<key>section</key>
		<string>Top 50</string>
	</dict>
	<dict>
		<key>infinitive</key>
		<string>read</string>
		<key>pastSimple</key>
		<string>read</string>
		<key>pastParticiple</key>
		<string>read</string>
		<key>infinitiveTranscription</key>
		<string>[ri:d]</string>
		<key>pastSimpleTranscription</key>
		<string>[rɛd]</string>
		<key>pastParticipleTranscription</key>
		<string>[rɛd]</string>
		<key>infinitiveIPA</key>
		<string>ˈɻid</string>
		<key>pastSimpleIPA</key>
		<string>ˈɻɛd</string>
		<key>pastParticipleIPA</key>
		<string>ˈɻɛd</string>
		<key>translation</key>
		<string>читать</string>
		<key>variants</key>
		<array>
			<string>raad</string>
			<string>raid</string>
			<string>read</string>
			<string>read</string>
			<string>read</string>
			<string>read</string>
		</array>
		<key>section</key>
		<string>Top 50</string>
	</dict>
	<dict>
		<key>infinitive</key>
		<string>rise</string>
		<key>pastSimple</key>
		<string>rose</string>
		<key>pastParticiple</key>
		<string>risen</string>
		<key>infinitiveTranscription</key>
		<string>[raɪz]</string>
		<key>pastSimpleTranscription</key>
		<string>[roʊz]</string>
		<key>pastParticipleTranscription</key>
		<string>[rɪzn]</string>
		<key>translation</key>
		<string>поднимать(ся)</string>
		<key>variants</key>
		<array>
			<string>risen</string>
			<string>riso</string>
			<string>rose</string>
			<string>risi</string>
			<string>rise</string>
			<string>rosun</string>
		</array>
		<key>section</key>
		<string>Top 50</string>
	</dict>
	<dict>
		<key>infinitive</key>
		<string>run</string>
		<key>pastSimple</key>
		<string>ran</string>
		<key>pastParticiple</key>
		<string>run</string>
		<key>infinitiveTranscription</key>
		<string>[rʌn]</string>
		<key>pastSimpleTranscription</key>
		<string>[ræn]</string>
		<key>pastParticipleTranscription</key>
		<string>[rʌn]</string>
		<key>translation</key>
		<string>бежать</string>
		<key>variants</key>
		<array>
			<string>ran</string>
			<string>run</string>
			<string>ren</string>
			<string>run</string>
			<string>ron</string>
			<string>run</string>
		</array>
		<key>section</key>
		<string>Top 50</string>
	</dict>
	<dict>
		<key>infinitive</key>
		<string>say</string>
		<key>pastSimple</key>
		<string>said</string>
		<key>pastParticiple</key>
		<string>said</string>
		<key>infinitiveTranscription</key>
		<string>[sɛɪ]</string>
		<key>pastSimpleTranscription</key>
		<string>[sɛd]</string>
		<key>pastParticipleTranscription</key>
		<string>[sɛd]</string>
		<key>translation</key>
		<string>говорить</string>
		<key>variants</key>
		<array>
			<string>said</string>
			<string>said</string>
			<string>suid</string>
			<string>say</string>
			<string>sead</string>
			<string>soy</string>
		</array>
		<key>section</key>
		<string>Top 50</string>
	</dict>
	<dict>
		<key>infinitive</key>
		<string>see</string>
		<key>pastSimple</key>
		<string>saw</string>
		<key>pastParticiple</key>
		<string>seen</string>
		<key>infinitiveTranscription</key>
		<string>[si:]</string>
		<key>pastSimpleTranscription</key>
		<string>[sɔ:]</string>
		<key>pastParticipleTranscription</key>
		<string>[si:n]</string>
		<key>translation</key>
		<string>видеть</string>
		<key>variants</key>
		<array>
			<string>suw</string>
			<string>see</string>
			<string>seen</string>
			<string>saw</string>
			<string>suin</string>
			<string>seu</string>
		</array>
		<key>section</key>
		<string>Top 50</string>
	</dict>
	<dict>
		<key>infinitive</key>
		<string>send</string>
		<key>pastSimple</key>
		<string>sent</string>
		<key>pastParticiple</key>
		<string>sent</string>
		<key>infinitiveTranscription</key>
		<string>[sɛnd]</string>
		<key>pastSimpleTranscription</key>
		<string>[sɛnt]</string>
		<key>pastParticipleTranscription</key>
		<string>[sɛnt]</string>
		<key>translation</key>
		<string>посылать</string>
		<key>variants</key>
		<array>
			<string>sant</string>
			<string>send</string>
			<string>sent</string>
			<string>sent</string>
			<string>sint</string>
			<string>sond</string>
		</array>
		<key>section</key>
		<string>Top 50</string>
	</dict>
	<dict>
		<key>infinitive</key>
		<string>set</string>
		<key>pastSimple</key>
		<string>set</string>
		<key>pastParticiple</key>
		<string>set</string>
		<key>infinitiveTranscription</key>
		<string>[sɛt]</string>
		<key>pastSimpleTranscription</key>
		<string>[sɛt]</string>
		<key>pastParticipleTranscription</key>
		<string>[sɛt]</string>
		<key>translation</key>
		<string>устанавливать</string>
		<key>variants</key>
		<array>
			<string>set</string>
			<string>sit</string>
			<string>set</string>
			<string>sot</string>
			<string>sut</string>
			<string>set</string>
		</array>
		<key>section</key>
		<string>Top 50</string>
	</dict>
	<dict>
		<key>infinitive</key>
		<string>show</string>
		<key>pastSimple</key>
		<string>showed</string>
		<key>pastParticiple</key>
		<string>shown</string>
		<key>infinitiveTranscription</key>
		<string>[ʃoʊ]</string>
		<key>pastSimpleTranscription</key>
		<string>[ʃoʊd]</string>
		<key>pastParticipleTranscription</key>
		<string>[ʃoʊn]</string>
		<key>translation</key>
		<string>показывать</string>
		<key>variants</key>
		<array>
			<string>shewn</string>
			<string>showed</string>
			<string>shuwid</string>
			<string>shown</string>
			<string>shuw</string>
			<string>show</string>
		</array>
		<key>section</key>
		<string>Top 50</string>
	</dict>
	<dict>
		<key>infinitive</key>
		<string>sit</string>
		<key>pastSimple</key>
		<string>sat</string>
		<key>pastParticiple</key>
		<string>sat</string>
		<key>infinitiveTranscription</key>
		<string>[sɪt]</string>
		<key>pastSimpleTranscription</key>
		<string>[sæt]</string>
		<key>pastParticipleTranscription</key>
		<string>[sæt]</string>
		<key>translation</key>
		<string>сидеть</string>
		<key>variants</key>
		<array>
			<string>sat</string>
			<string>sit</string>
			<string>sit</string>
			<string>sit</string>
			<string>sit</string>
			<string>sat</string>
		</array>
		<key>section</key>
		<string>Top 50</string>
	</dict>
	<dict>
		<key>infinitive</key>
		<string>speak</string>
		<key>pastSimple</key>
		<string>spoke</string>
		<key>pastParticiple</key>
		<string>spoken</string>
		<key>infinitiveTranscription</key>
		<string>[spi:k]</string>
		<key>pastSimpleTranscription</key>
		<string>[spoʊk]</string>
		<key>pastParticipleTranscription</key>
		<string>[spoʊkən]</string>
		<key>translation</key>
		<string>разговаривать</string>
		<key>variants</key>
		<array>
			<string>speak</string>
			<string>spuik</string>
			<string>spoken</string>
			<string>spoke</string>
			<string>spakin</string>
			<string>spuke</string>
		</array>
		<key>section</key>
		<string>Top 50</string>
	</dict>
	<dict>
		<key>infinitive</key>
		<string>spend</string>
		<key>pastSimple</key>
		<string>spent</string>
		<key>pastParticiple</key>
		<string>spent</string>
		<key>infinitiveTranscription</key>
		<string>[spend]</string>
		<key>pastSimpleTranscription</key>
		<string>[spɛnt]</string>
		<key>pastParticipleTranscription</key>
		<string>[spɛnt]</string>
		<key>translation</key>
		<string>тратить, проводить (время)</string>
		<key>variants</key>
		<array>
			<string>spent</string>
			<string>spend</string>
			<string>spant</string>
			<string>spant</string>
			<string>spent</string>
			<string>spund</string>
		</array>
		<key>section</key>
		<string>Top 50</string>
	</dict>
	<dict>
		<key>infinitive</key>
		<string>stand</string>
		<key>pastSimple</key>
		<string>stood</string>
		<key>pastParticiple</key>
		<string>stood</string>
		<key>infinitiveTranscription</key>
		<string>[stænd]</string>
		<key>pastSimpleTranscription</key>
		<string>[stʊd]</string>
		<key>pastParticipleTranscription</key>
		<string>[stʊd]</string>
		<key>translation</key>
		<string>стоять</string>
		<key>variants</key>
		<array>
			<string>stood</string>
			<string>stood</string>
			<string>stund</string>
			<string>stand</string>
			<string>stead</string>
			<string>stood</string>
		</array>
		<key>section</key>
		<string>Top 50</string>
	</dict>
	<dict>
		<key>infinitive</key>
		<string>take</string>
		<key>pastSimple</key>
		<string>took</string>
		<key>pastParticiple</key>
		<string>taken</string>
		<key>infinitiveTranscription</key>
		<string>[teɪk]</string>
		<key>pastSimpleTranscription</key>
		<string>[tʊk]</string>
		<key>pastParticipleTranscription</key>
		<string>[&apos;teɪkən]</string>
		<key>translation</key>
		<string>брать</string>
		<key>variants</key>
		<array>
			<string>take</string>
			<string>tikon</string>
			<string>taken</string>
			<string>taek</string>
			<string>take</string>
			<string>took</string>
		</array>
		<key>section</key>
		<string>Top 50</string>
	</dict>
	<dict>
		<key>infinitive</key>
		<string>tell</string>
		<key>pastSimple</key>
		<string>told</string>
		<key>pastParticiple</key>
		<string>told</string>
		<key>infinitiveTranscription</key>
		<string>[tel]</string>
		<key>pastSimpleTranscription</key>
		<string>[toʊld]</string>
		<key>pastParticipleTranscription</key>
		<string>[toʊld]</string>
		<key>translation</key>
		<string>рассказывать</string>
		<key>variants</key>
		<array>
			<string>tall</string>
			<string>told</string>
			<string>tald</string>
			<string>tell</string>
			<string>told</string>
			<string>told</string>
		</array>
		<key>section</key>
		<string>Top 50</string>
	</dict>
	<dict>
		<key>infinitive</key>
		<string>think</string>
		<key>pastSimple</key>
		<string>thought</string>
		<key>pastParticiple</key>
		<string>thought</string>
		<key>infinitiveTranscription</key>
		<string>[θɪŋk]</string>
		<key>pastSimpleTranscription</key>
		<string>[θɔ:t]</string>
		<key>pastParticipleTranscription</key>
		<string>[θɔ:t]</string>
		<key>translation</key>
		<string>думать</string>
		<key>variants</key>
		<array>
			<string>thank</string>
			<string>thought</string>
			<string>thaeght</string>
			<string>think</string>
			<string>thaaght</string>
			<string>thought</string>
		</array>
		<key>section</key>
		<string>Top 50</string>
	</dict>
	<dict>
		<key>infinitive</key>
		<string>wear</string>
		<key>pastSimple</key>
		<string>wore</string>
		<key>pastParticiple</key>
		<string>worn</string>
		<key>infinitiveTranscription</key>
		<string>[wɛə]</string>
		<key>pastSimpleTranscription</key>
		<string>[wɔ:]</string>
		<key>pastParticipleTranscription</key>
		<string>[wɔ:n]</string>
		<key>translation</key>
		<string>надевать</string>
		<key>variants</key>
		<array>
			<string>weur</string>
			<string>wura</string>
			<string>wore</string>
			<string>wear</string>
			<string>wurn</string>
			<string>worn</string>
		</array>
		<key>section</key>
		<string>Top 50</string>
	</dict>
	<dict>
		<key>infinitive</key>
		<string>win</string>
		<key>pastSimple</key>
		<string>won</string>
		<key>pastParticiple</key>
		<string>won</string>
		<key>infinitiveTranscription</key>
		<string>[wɪn]</string>
		<key>pastSimpleTranscription</key>
		<string>[wʌn]</string>
		<key>pastParticipleTranscription</key>
		<string>[wʌn]</string>
		<key>translation</key>
		<string>выигрывать, побеждать</string>
		<key>variants</key>
		<array>
			<string>wan</string>
			<string>won</string>
			<string>win</string>
			<string>won</string>
			<string>wen</string>
			<string>wen</string>
		</array>
		<key>section</key>
		<string>Top 50</string>
	</dict>
	<dict>
		<key>infinitive</key>
		<string>write</string>
		<key>pastSimple</key>
		<string>wrote</string>
		<key>pastParticiple</key>
		<string>written</string>
		<key>infinitiveTranscription</key>
		<string>[raɪt]</string>
		<key>pastSimpleTranscription</key>
		<string>[roʊt]</string>
		<key>pastParticipleTranscription</key>
		<string>[rɪtn]</string>
		<key>translation</key>
		<string>писать</string>
		<key>variants</key>
		<array>
			<string>wrettun</string>
			<string>written</string>
			<string>wroto</string>
			<string>wrote</string>
			<string>wreto</string>
			<string>write</string>
		</array>
		<key>section</key>
		<string>Top 50</string>
	</dict>
	<dict>
		<key>infinitive</key>
		<string>spoil</string>
		<key>pastSimple</key>
		<string>spoiled/spoilt</string>
		<key>pastParticiple</key>
		<string>spoiled/spoilt</string>
		<key>infinitiveTranscription</key>
		<string>[spoɪl]</string>
		<key>pastSimpleTranscription</key>
		<string>[spoɪld/spoɪlt]</string>
		<key>pastParticipleTranscription</key>
		<string>[spoɪld/spoɪlt]</string>
		<key>translation</key>
		<string>портить</string>
		<key>variants</key>
		<array>
			<string>spoiled/spoilt</string>
			<string>spoil</string>
			<string>spaol</string>
			<string>spueled/spoalt</string>
			<string>spaolud/spualt</string>
			<string>spoiled/spoilt</string>
		</array>
		<key>section</key>
		<string>Top 200</string>
	</dict>
	<dict>
		<key>infinitive</key>
		<string>spread</string>
		<key>pastSimple</key>
		<string>spread</string>
		<key>pastParticiple</key>
		<string>spread</string>
		<key>infinitiveTranscription</key>
		<string>[spred]</string>
		<key>pastSimpleTranscription</key>
		<string>[sprɛd]</string>
		<key>pastParticipleTranscription</key>
		<string>[sprɛd]</string>
		<key>translation</key>
		<string>распространить(ся)</string>
		<key>variants</key>
		<array>
			<string>spread</string>
			<string>spread</string>
			<string>spriud</string>
			<string>sprood</string>
			<string>spread</string>
			<string>sproed</string>
		</array>
		<key>section</key>
		<string>Top 200</string>
	</dict>
	<dict>
		<key>infinitive</key>
		<string>spring</string>
		<key>pastSimple</key>
		<string>sprang</string>
		<key>pastParticiple</key>
		<string>sprung</string>
		<key>infinitiveTranscription</key>
		<string>[sprɪŋ]</string>
		<key>pastSimpleTranscription</key>
		<string>[spræŋ]</string>
		<key>pastParticipleTranscription</key>
		<string>[sprʌŋ]</string>
		<key>translation</key>
		<string>возникать, выпрыгивать</string>
		<key>variants</key>
		<array>
			<string>sprang</string>
			<string>sprung</string>
			<string>spring</string>
			<string>sprung</string>
			<string>sprong</string>
			<string>spring</string>
		</array>
		<key>section</key>
		<string>Top 200</string>
	</dict>
</array>
</plist>
