<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>infinitive</key>
		<string>be</string>
		<key>pastSimple</key>
		<string>was/were</string>
		<key>pastParticiple</key>
		<string>been</string>
		<key>infinitiveTranscription</key>
		<string>[bi:]</string>
		<key>pastSimpleTranscription</key>
		<string>[wɒz], [wɜ:]</string>
		<key>pastParticipleTranscription</key>
		<string>[bi:n]</string>
		<key>translation</key>
		<string>быть, находиться</string>
		<key>variants</key>
		<array>
			<string>be</string>
			<string>was/were</string>
			<string>been</string>
			<string>wes/ware</string>
			<string>ben</string>
			<string>bi</string>
		</array>
		<key>section</key>
		<string>Top 50</string>
	</dict>
	<dict>
		<key>infinitive</key>
		<string>become</string>
		<key>pastSimple</key>
		<string>became</string>
		<key>pastParticiple</key>
		<string>become</string>
		<key>infinitiveTranscription</key>
		<string>[bɪˈkʌm]</string>
		<key>pastSimpleTranscription</key>
		<string>[bɪˈkeɪm]</string>
		<key>pastParticipleTranscription</key>
		<string>[bɪˈkʌm]</string>
		<key>translation</key>
		<string>становиться</string>
		<key>variants</key>
		<array>
			<string>became</string>
			<string>become</string>
			<string>becamm</string>
			<string>become</string>
			<string>bacome</string>
			<string>bacomn</string>
		</array>
		<key>section</key>
		<string>Top 50</string>
	</dict>
	<dict>
		<key>infinitive</key>
		<string>begin</string>
		<key>pastSimple</key>
		<string>began</string>
		<key>pastParticiple</key>
		<string>begun</string>
		<key>infinitiveTranscription</key>
		<string>[bɪˈgɪn]</string>
		<key>pastSimpleTranscription</key>
		<string>[bɪˈgæn]</string>
		<key>pastParticipleTranscription</key>
		<string>[bɪˈgʌn]</string>
		<key>translation</key>
		<string>начинать(ся)</string>
		<key>variants</key>
		<array>
			<string>begunen</string>
			<string>begin</string>
			<string>began</string>
			<string>begung</string>
			<string>begun</string>
			<string>begining</string>
		</array>
		<key>section</key>
		<string>Top 50</string>
	</dict>
	<dict>
		<key>infinitive</key>
		<string>blow</string>
		<key>pastSimple</key>
		<string>blew</string>
		<key>pastParticiple</key>
		<string>blown</string>
		<key>infinitiveTranscription</key>
		<string>[bloʊ]</string>
		<key>pastSimpleTranscription</key>
		<string>[blu:]</string>
		<key>pastParticipleTranscription</key>
		<string>[bloʊn]</string>
		<key>translation</key>
		<string>дуть</string>
		<key>variants</key>
		<array>
			<string>blow</string>
			<string>bluwn</string>
			<string>blew</string>
			<string>blawn</string>
			<string>blown</string>
			<string>blewn</string>
		</array>
		<key>section</key>
		<string>Top 50</string>
	</dict>
	<dict>
		<key>infinitive</key>
		<string>break</string>
		<key>pastSimple</key>
		<string>broke</string>
		<key>pastParticiple</key>
		<string>broken</string>
		<key>infinitiveTranscription</key>
		<string>[breɪk]</string>
		<key>pastSimpleTranscription</key>
		<string>[broʊk]</string>
		<key>pastParticipleTranscription</key>
		<string>[broʊkən]</string>
		<key>translation</key>
		<string>ломать</string>
		<key>variants</key>
		<array>
			<string>broke</string>
			<string>bruken</string>
			<string>break</string>
			<string>broken</string>
			<string>brown</string>
			<string>brake</string>
		</array>
		<key>section</key>
		<string>Top 50</string>
	</dict>
	<dict>
		<key>infinitive</key>
		<string>bring</string>
		<key>pastSimple</key>
		<string>brought</string>
		<key>pastParticiple</key>
		<string>brought</string>
		<key>infinitiveTranscription</key>
		<string>[brɪŋ]</string>
		<key>pastSimpleTranscription</key>
		<string>[brɔ:t]</string>
		<key>pastParticipleTranscription</key>
		<string>[brɔ:t]</string>
		<key>translation</key>
		<string>принести</string>
		<key>variants</key>
		<array>
			<string>brohgt</string>
			<string>bring</string>
			<string>brought</string>
			<string>brong</string>
			<string>brought</string>
			<string>braugth</string>
		</array>
		<key>section</key>
		<string>Top 50</string>
	</dict>
	<dict>
		<key>infinitive</key>
		<string>build</string>
		<key>pastSimple</key>
		<string>built</string>
		<key>pastParticiple</key>
		<string>built</string>
		<key>infinitiveTranscription</key>
		<string>[bɪld]</string>
		<key>pastSimpleTranscription</key>
		<string>[bɪlt]</string>
		<key>pastParticipleTranscription</key>
		<string>[bɪlt]</string>
		<key>translation</key>
		<string>строить</string>
		<key>variants</key>
		<array>
			<string>build</string>
			<string>bold</string>
			<string>built</string>
			<string>built</string>
			<string>biuld</string>
			<string>bailt</string>
		</array>
		<key>section</key>
		<string>Top 50</string>
	</dict>
	<dict>
		<key>infinitive</key>
		<string>buy</string>
		<key>pastSimple</key>
		<string>bought</string>
		<key>pastParticiple</key>
		<string>bought</string>
		<key>infinitiveTranscription</key>
		<string>[baɪ]</string>
		<key>pastSimpleTranscription</key>
		<string>[bɔ:t]</string>
		<key>pastParticipleTranscription</key>
		<string>[bɔ:t]</string>
		<key>translation</key>
		<string>покупать</string>
		<key>variants</key>
		<array>
			<string>bought</string>
			<string>buy</string>
			<string>boy</string>
			<string>bought</string>
			<string>baugth</string>
			<string>boutgh</string>
		</array>
		<key>section</key>
		<string>Top 50</string>
	</dict>
	<dict>
		<key>infinitive</key>
		<string>catch</string>
		<key>pastSimple</key>
		<string>caught</string>
		<key>pastParticiple</key>
		<string>caught</string>
		<key>infinitiveTranscription</key>
		<string>[kætʃ]</string>
		<key>pastSimpleTranscription</key>
		<string>[kɔ:t]</string>
		<key>pastParticipleTranscription</key>
		<string>[kɔ:t]</string>
		<key>translation</key>
		<string>ловить</string>
		<key>variants</key>
		<array>
			<string>catch</string>
			<string>caught</string>
			<string>caught</string>
			<string>couth</string>
			<string>cauhtg</string>
			<string>cught</string>
		</array>
		<key>section</key>
		<string>Top 50</string>
	</dict>
	<dict>
		<key>infinitive</key>
		<string>choose</string>
		<key>pastSimple</key>
		<string>chose</string>
		<key>pastParticiple</key>
		<string>chosen</string>
		<key>infinitiveTranscription</key>
		<string>[tʃu:z]</string>
		<key>pastSimpleTranscription</key>
		<string>[tʃoʊz]</string>
		<key>pastParticipleTranscription</key>
		<string>[tʃoʊzn]</string>
		<key>translation</key>
		<string>выбирать</string>
		<key>variants</key>
		<array>
			<string>choose</string>
			<string>chasen</string>
			<string>chosen</string>
			<string>chose</string>
			<string>cheso</string>
			<string>chose</string>
		</array>
		<key>section</key>
		<string>Top 50</string>
	</dict>
	<dict>
		<key>infinitive</key>
		<string>come</string>
		<key>pastSimple</key>
		<string>came</string>
		<key>pastParticiple</key>
		<string>come</string>
		<key>infinitiveTranscription</key>
		<string>[kʌm]</string>
		<key>pastSimpleTranscription</key>
		<string>[keɪm]</string>
		<key>pastParticipleTranscription</key>
		<string>[kʌm]</string>
		<key>translation</key>
		<string>приходить</string>
		<key>variants</key>
		<array>
			<string>come</string>
			<string>came</string>
			<string>come</string>
			<string>cume</string>
			<string>comon</string>
			<string>cammn</string>
		</array>
		<key>section</key>
		<string>Top 50</string>
	</dict>
	<dict>
		<key>infinitive</key>
		<string>cut</string>
		<key>pastSimple</key>
		<string>cut</string>
		<key>pastParticiple</key>
		<string>cut</string>
		<key>infinitiveTranscription</key>
		<string>[kʌt]</string>
		<key>pastSimpleTranscription</key>
		<string>[kʌt]</string>
		<key>pastParticipleTranscription</key>
		<string>[kʌt]</string>
		<key>translation</key>
		<string>резать</string>
		<key>variants</key>
		<array>
			<string>cut</string>
			<string>cat</string>
			<string>cut</string>
			<string>cit</string>
			<string>cut</string>
			<string>cutten</string>
		</array>
		<key>section</key>
		<string>Top 50</string>
	</dict>
	<dict>
		<key>infinitive</key>
		<string>do</string>
		<key>pastSimple</key>
		<string>did</string>
		<key>pastParticiple</key>
		<string>done</string>
		<key>infinitiveTranscription</key>
		<string>[du:]</string>
		<key>pastSimpleTranscription</key>
		<string>[dɪd]</string>
		<key>pastParticipleTranscription</key>
		<string>[dʌn]</string>
		<key>translation</key>
		<string>делать</string>
		<key>variants</key>
		<array>
			<string>did</string>
			<string>donne</string>
			<string>done</string>
			<string>ded</string>
			<string>do</string>
			<string>dane</string>
		</array>
		<key>section</key>
		<string>Top 50</string>
	</dict>
	<dict>
		<key>infinitive</key>
		<string>draw</string>
		<key>pastSimple</key>
		<string>drew</string>
		<key>pastParticiple</key>
		<string>drawn</string>
		<key>infinitiveTranscription</key>
		<string>[drɔ:]</string>
		<key>pastSimpleTranscription</key>
		<string>[dru:]</string>
		<key>pastParticipleTranscription</key>
		<string>[drɔ:n]</string>
		<key>translation</key>
		<string>рисовать</string>
		<key>variants</key>
		<array>
			<string>draw</string>
			<string>drawn</string>
			<string>drew</string>
			<string>drown</string>
			<string>drow</string>
			<string>derw</string>
		</array>
		<key>section</key>
		<string>Top 50</string>
	</dict>
	<dict>
		<key>infinitive</key>
		<string>drive</string>
		<key>pastSimple</key>
		<string>drove</string>
		<key>pastParticiple</key>
		<string>driven</string>
		<key>infinitiveTranscription</key>
		<string>[draɪv]</string>
		<key>pastSimpleTranscription</key>
		<string>[droʊv]</string>
		<key>pastParticipleTranscription</key>
		<string>[drɪvn]</string>
		<key>translation</key>
		<string>вести машину</string>
		<key>variants</key>
		<array>
			<string>drive</string>
			<string>dravn</string>
			<string>drove</string>
			<string>driven</string>
			<string>droven</string>
			<string>driev</string>
		</array>
		<key>section</key>
		<string>Top 50</string>
	</dict>
	<dict>
		<key>infinitive</key>
		<string>fall</string>
		<key>pastSimple</key>
		<string>fell</string>
		<key>pastParticiple</key>
		<string>fallen</string>
		<key>infinitiveTranscription</key>
		<string>[fɔ:l]</string>
		<key>pastSimpleTranscription</key>
		<string>[fɛl]</string>
		<key>pastParticipleTranscription</key>
		<string>[fɔ:lən]</string>
		<key>translation</key>
		<string>падать</string>
		<key>variants</key>
		<array>
			<string>fall</string>
			<string>falt</string>
			<string>fault</string>
			<string>fell</string>
			<string>fallen</string>
			<string>feel</string>
		</array>
		<key>section</key>
		<string>Top 50</string>
	</dict>
	<dict>
		<key>infinitive</key>
		<string>feel</string>
		<key>pastSimple</key>
		<string>felt</string>
		<key>pastParticiple</key>
		<string>felt</string>
		<key>infinitiveTranscription</key>
		<string>[fi:l]</string>
		<key>pastSimpleTranscription</key>
		<string>[fɛlt]</string>
		<key>pastParticipleTranscription</key>
		<string>[fɛlt]</string>
		<key>translation</key>
		<string>чувствовать</string>
		<key>variants</key>
		<array>
			<string>felt</string>
			<string>falt</string>
			<string>faal</string>
			<string>felt</string>
			<string>fallen</string>
			<string>feel</string>
		</array>
		<key>section</key>
		<string>Top 50</string>
	</dict>
	<dict>
		<key>infinitive</key>
		<string>find</string>
		<key>pastSimple</key>
		<string>found</string>
		<key>pastParticiple</key>
		<string>found</string>
		<key>infinitiveTranscription</key>
		<string>[faɪnd]</string>
		<key>pastSimpleTranscription</key>
		<string>[faʊnd]</string>
		<key>pastParticipleTranscription</key>
		<string>[faʊnd]</string>
		<key>translation</key>
		<string>находить</string>
		<key>variants</key>
		<array>
			<string>find</string>
			<string>fund</string>
			<string>found</string>
			<string>found</string>
			<string>founded</string>
			<string>finded</string>
		</array>
		<key>section</key>
		<string>Top 50</string>
	</dict>
	<dict>
		<key>infinitive</key>
		<string>win</string>
		<key>pastSimple</key>
		<string>won</string>
		<key>pastParticiple</key>
		<string>won</string>
		<key>infinitiveTranscription</key>
		<string>[wɪn]</string>
		<key>pastSimpleTranscription</key>
		<string>[wʌn]</string>
		<key>pastParticipleTranscription</key>
		<string>[wʌn]</string>
		<key>translation</key>
		<string>выигрывать</string>
		<key>variants</key>
		<array>
			<string>win</string>
			<string>won</string>
			<string>won</string>
			<string>woon</string>
			<string>winn</string>
			<string>wan</string>
		</array>
		<key>section</key>
		<string>Top 50</string>
	</dict>
</array>
</plist>
